#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App > nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.invoices, .expenses, .invoice, .index{
  padding: 10px;
}

.invoices {
  display: flex;
}

.invoices > nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-right: 1px solid gray;
  padding: 20px;
}

.active{
  color: tomato;
}